.CountingBody{
    background-color: rgba(16, 72, 243, 0.986);
    padding: 30px 0;
}
.timerCard{
    background-color: rgb(255, 0, 106) !important;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.card-header{
    display: block;
    width: 100%;
}

.MuiTabsFlexContainer{
    display: flex !important;
    align-items: center !important;
    text-align: center;
    justify-items: center;
}

.card-header span{
        color: white !important;
        background-color: white !important;
} 

.MuiTabsFlexContainer button{
    color: white !important;
    text-align: center;
    font-size: 18px;
    font-weight: 700;

}
.timerWatch p{
    margin: 20px 0;
}

.timerWatch  p span{ 
    font-size: 100px;  
    letter-spacing: 5px;
    color:rgb(228, 226, 226);
    font-weight: 500;
}
.Clicker button{
    box-sizing: border-box;
    color: white;
    background-color: brown;
    font-size: 20px;
    width: 120px;
    border-radius: 20px;
}

@media (max-width:800px) {
    .timerWatch  p span{
        font-size: 100px;  
        letter-spacing: 3px
    }
    .timerCard{
        padding: 20px 10px;
    }
    .timerWatch{
        text-align: center !important;
    }
    .MuiTabsFlexContainer{
        display: contents; 
        align-items: center;
        justify-content: center;
    }
   
    .MuiTabsFlexContainer button{
        color: white !important;
        font-size: 18px;
        font-weight: 600; 
        margin: 2px;
        padding: 5px;
    }
}
@media (max-width:500px) {
    .card-header{
        display: flex;
        width: 100%;
        overflow: hidden;
    }
    .timerWatch  p span{
        font-size: 70px;  
        letter-spacing: 2px
    }
    .timerCard{
        display: flex;
        overflow: hidden;
        width: 100%;
        padding: 5px 0;
        margin: 0;
    }
    .timerWatch{
        text-align: center !important;
    }
    .MuiTabsFlexContainer{
         display: contents !important;
        align-items: center;
        justify-content: center;
    }
    .MuiTabsFlexContainer button{
        color: white !important;
        font-size: 16px;
        font-weight: 600; 
        margin: 2px;
        padding: 5px;
    }
}
@media (max-width:385px) {
    .CountingBody{
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
    }
    .timerCard{
        display: flex;
        overflow: hidden;
        width: 100% !important;
        padding: 5px 0 !important;
        margin: 0;
    }
    .card-header{
        display: flex !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
    .timerWatch  p span{
        font-size: 100px;  
        letter-spacing: 2px
    }
    .timerWatch{
        text-align: center !important;
    }
    .MuiTabsFlexContainer button{
        font-size: 12px; 
        letter-spacing: 1px;
        margin: 2px;
        padding: 2px;
    }
}