.contentItems .title{
    font-weight: 600;
    font-size: 32px;
    color:rgb(110, 28, 28);
    position: relative;
}
.contentItems h1{
    position: relative;
    padding-bottom: 5px;
}
.contentItems h1::after{
    content: '';
    width: 0;
    background-color: rgb(156, 35, 35,0.6);
    height: 4px;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}
.contentItems h1:hover{
    cursor: pointer;
}
.contentItems h1:hover::after{
    width: 10%;
}
.titleContent{
    margin: 30px 0 !important;
    font-weight: 600;
    font-size: 36px !important;
    color:rgb(110, 28, 28);
    margin-bottom: 80px !important;
}

.Pomofocus p,.Techniques p{
    font-size: 18px !important;
    line-height: 32px !important;
}

.UsingTimer ul li,.Features ul li,.DownloadApp ul li{
    list-style-type:decimal;
    font-size: 18px !important;
    color: rgb(71, 44, 44);
    word-spacing: 5px !important ;
    line-height: 40px;
}
.UsingTimer ul li b,.Features ul li b{
    margin-right: 5px;
}
.Features ul li{
    list-style-type:disc;  
}
.DownloadApp ul li{
    line-height: 30px;
    list-style-type: circle;
}
.DownloadApp ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.DownloadApp ul li:hover{
    list-style-type: disc;
    cursor: pointer;
}


@media (max-width:830px) {
    .contentItems .title{
        font-size: 28px !important;
    }
}

@media (max-width:490px) {
    .contentItems .title{
        font-size: 26px !important;
    }
    .titleContent{
        margin: 15px 0;
        font-weight: 600;
        font-size: 28px !important; 
        margin-bottom: 40px;
    }
    .Pomofocus p,.Techniques p{
        font-size: 18px !important;
        line-height: 24px;
    }
    .UsingTimer ul li,.Features ul li,.DownloadApp ul li{
        font-size: 18px !important;
        word-spacing: 3px !important;
        line-height: 32px !important; 
    }
   }